@page "/view/{id}"
@model Razor.Demo.Pages.Customers.InfoModel
@{
}
<h1>@Model.id</h1>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.customer.FirstName</h5>
        <h6 class="card-subtitle mb-2 text-muted">info</h6>
        <p class="card-text">@Model.customer.FirstName @Model.customer.LastName</p>
        <a asp-page="index" class="btn btn-primary">Back</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>
